@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.circle {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 1px;
    background: orange;
    border: 1px solid orange;
    color: primary;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
  }

  .badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 100px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: blue;
  }
  #lblCartCount {
      font-size: 9px;
      background: #00bd8e;
      -webkit-text-fill-color: white;
      color: #fff !important;
      padding: 1px 5px 1px 3px;
      vertical-align: top;
      margin-left: -12px; 
  }

  .fa {
    font-size: 10px;
  }